[package]
name = "meilisearch-sdk"
version = "0.1.1"
authors = ["Mubelotix <mubelotix@gmail.com>"]
edition = "2018"
description = "MeiliSearch Rust SDK. MeiliSearch is a powerful, fast, open-source, easy to use and deploy search engine."
license = "MIT"
readme  = "README.md"

[dependencies]
minreq = "2.1"
serde_json = "1.0"
log = "0.4"
serde = {version="1.0", features=["derive"]}
urlencoding = "1.0"

[dev-dependencies]
env_logger = "0.7"